html, body, h1, h2, h3, p, ol, ul, li, a{
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    padding: 20px 20px 20px 20px;
}

h1 {margin: 30px 0 20 px 0;
border-bottom: 10px; solid #cccccc;
}

h2 {margin: 20px 0 20px 0;
border-bottom: 5px solid #cccccc;
padding-bottom: 5px;
}

h3 {margin: 10px 0 20px 0;
border-bottom: 15px; solid #cccccc;
padding-bottom: 15px;
}
ul {
    padding: 0 0 0 50px;
}
ol {
    padding: 0 0 0 50px;
}