/* main.css */
.nav {
    text-align: center;
}
.nav ul li {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: #af3700;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    background-color: #f3f3f3;
    border: 5px solid #e7e7e7;
 }
 li {
   color: #23527c;
 }
  img {
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 50%; 
    border: #151794 1px;
     }

  h1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
  }
  h2 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    color: #000000;
    width: 700px;
    margin: 0 auto 0 auto;
  }
  h2 strong {
    font-weight: 400;
  }
  .header {
    background-color: #999999;
  }
  h3 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #555555;
    margin: 20px 0 20px 0;
  }
  p {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
  }
  a {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #12054b;
  }
  figure {
    display: block;
    border: none;
    margin: auto;
    text-align: center
  }
  figure figurecaption {
    border: none;
    text-align: center;
  }
  a:hover {
    color: #ce1717;
    text-decoration: underline;
  }
  .tagline {
    background-color: #000000;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
  }
  .projects, .badges, .articles, .skills {
    width: 700px;
    margin: 0 auto;
  }
  .projects ul, .badges ul, .articles ul, .skills ul {
    list-style-type: none;
  }
  .projects li, .badges li, .articles li, .skills li {
    margin-bottom: 10px; color: #23527c;
  }
  .skills {
    margin-bottom: 20px;
  }
  .skills li {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    background-color: #5f5c5c;
    color: #f5eeee;
    padding: 1px 1px 1px 1px;
    }
  .links {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color:#23527c;    
    }
  .footer {
    background-color: #151794;
    text-align: center;
    padding: 20px 0 20px 0;
  }