html, body, h1, h2, h3, p, ol, ul, li, a{
    padding: 0;
    border: 0;
    margin: 0;
}
html {
    background: purple;
}
body {
    width:80%;
    margin:0 auto;
    background: white;
    padding: 20px 20px 20px 20px;
}
header{
    height: 50px;
    margin-bottom:1em;
}
nav {
    float:left;
    height:25px;
margin-bottom:1em
}
aside{
    float:left;
    width: 30%;
}
article{
    float:right;
    width:60%
}
footer {
    clear:both;
    margin-top:1em;
}
h1 {margin: 30px 0 20 px 0;
border-bottom: 10px solidcolor blue;
padding: 10px 10px 10px 10px
}

h2 {margin: 20px 0 20px 0;
border: 6px solidcolor black;
padding: 6px 3px 5px 0;
}

h3 {margin: 10px 0 20px 0;
border-bottom: 15px solidcolor red;
padding-bottom: 15px;
}
ul {
    padding: 0 0 0 50px;
}
ol {
    padding: 0 0 0 50px;
}
.nav a {
    float:left;
    color: #0000af;
    padding-left: 10px;
}
